@model PenaltyModel
@{
    ViewData["Title"] = "Bonus";
}
<div class="d-flex justify-content-center">
    <p>
        <strong>@Model.Employee.Name @Model.Employee.Surname</strong>
    </p>
</div>
<div>
    <form asp-action="Penalty">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="EmployeeId" type="hidden" class="form-control" value="@Model.Employee.Id" />
        <div class="form-group">
            <label asp-for="Price" class="control-label">Price*</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GivenDate" class="control-label">Given Date*</label>
            <input asp-for="GivenDate" type="text" data-provide="datepicker" data-date-autoclose="true" class="datetimepicker form-control" placeholder="GivenDate" value="@DateTime.Now.ToShortDateString()">
            <span asp-validation-for="GivenDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </form>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Given Date</th>
            <th>Bonus Price</th>
            <th>Redaction</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Fine fine in Model.Fines)
        {
            <tr>
                <td>@fine.GivenDate</td>
                <td>@fine.Price</td>
                <td>
                    <a asp-action="EditPenalty" asp-controller="Department" asp-route-id="@fine.Id">Edit</a> / <a  asp-action="DeletePenalty" asp-controller="Department" asp-route-id="@fine.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>