@{
    ViewData["Title"] = "Admin Panel";
}
@model ICollection<Work>
<div class="employees-list" style="overflow-x:auto;">
    <table class="table table-hover js-basic-example dataTable table-custom table-striped m-b-0 c_list no-footer" id="employees">
        <thead class="thead-dark">
            <tr>
                <th>
                    <label class="fancy-checkbox d-none">
                        <input class="select-all" type="checkbox" name="checkbox">
                        <span></span>
                    </label>
                </th>
                <th>Picture</th>
                <th>Employee</th>
                <th>Position</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Work work in Model)
            {
                <tr>
                    <td>
                        <input class="select worker-id" id="select" type="checkbox" name="checkbox" value="@work.Employee.Id">
                        <span></span>
                    </td>
                    <td><img src="~/Employee/Images/@work.Employee.PhotoLink" class="rounded-circle avatar" alt="Employee picture"></td>
                    <td>@work.Employee.Name @work.Employee.Surname</td>
                    <td>@work.BranchPosition.Position.Name</td>
                    <td>@work.BranchPosition.Position.Salary.Price</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="d-flex flex-row-reverse">
    <a asp-action="Calculate" class="btn btn-info calculate">Calculate</a>
</div>